body{
	padding:0;
	margin: 0;
	color: #393e46;
	background-image: linear-gradient(to right top, #393e46, #676970, #97989d, #cacacd, #ffffff);
}
/*colour scheme*/
/*dark-blue - #393e46
light-blue - #01b59f
orange - #f8b500*/

/*colour scheme*/

/*FIXED NAV*/

.fixed-nav{
	background-color:#01b59f; 
	padding: 3px;
}

.logo h2 {
	text-align: center;
}

.logo h2 a {
	text-decoration: none;
	color: #393e46;
	text-transform: uppercase;
}

/*FIXED NAV*/


/*LOGIN CONTAINER*/
.login-container{
	color: #393e46;
	display: inline;
	float: right;
	width:30%;
}

.login-container form {
	padding:0;
	margin:0;
}

.login-container h3 {
	text-align: center;
}

.login-container{
	/*border: 1px solid black;*/
	margin:10px;
	padding:15px;
	background-color: white;
	box-shadow: 1px 1px 10px black;
	border-radius: 10px;
}

.login-container input[type=email]:hover,
.login-container input[type=password]:hover{
	background-color: gainsboro;
	cursor: pointer;
}

.login-container input[type=submit]:hover{
	color: white;
	background-color: #393e46;
}

.login-container input[type=submit],
.login-container input[type=password],
.login-container input[type=email]{
	display: block;
	margin: 1% 0 1% 0;
	padding:10px;
	width: 90%;
	border:2px solid #393e46;
}

.login-container form a {
	float: right;
}

/*LOGIN CONTAINER*/

.footer{
	background-color: #01b59f;
	clear: both;
	padding: 8px;
}

.footer h4 {
	color: #393e46;
	text-align: center;
}

/*REGISTER CONTAINER*/

.register-container{
	color: #393e46;
	display: inline;
	float: left;
}

.register-container input{
	display: block;
	margin:1% 0 1% 0;
	padding:10px;
	width: 90%;
	border:2px solid #393e46;
}
.register-container input[type=email]:hover,
.register-container input[type=password]:hover,
.register-container input[type=text]:hover{
	background-color: gainsboro;
}

.register-container input[type=submit]:hover{
	color: white;
	background-color: #393e46;
}

.register-container{
	/*border:1px solid black;*/
	margin:10px;
	padding:15px;
	background-color: white;
	box-shadow: 1px 1px 10px black;
	border-radius: 10px;
}

/*REGISTER CONTAINER*/

/*JUMBTRON*/
.jumbotrn{
	display:inline;
	width: 30%;
	float: left;
	margin: 1%;margin-top:5%;
	margin-bottom: 15%;
	border-top-right-radius: 5px;
}
/*JUMBTRON*/

.main{
			margin-top:4%;
		}

/*POSTQUESTION SPECIFIC HTML*/


/*POSTQUESTION CONTAINER*/

.post-question-container input,
 .post-question-container textarea{
	display: block;
	margin:1% 0 1% 0;
	padding:10px;
	width: 90%;
	border:2px solid #393e46;
}

.post-question-container{
	color: #393e46;
	margin-left: 22%;
	background-color: white;
	box-shadow: 1px 1px 10px black;
	border-radius: 10px;
	padding: 15px;
}


.post-question-container textarea,
.post-question-container input[type=text]:hover{
	background-color: gainsboro;
}

.post-question-container input[type=submit]:hover,
.post-question-container textarea:hover,
.post-question-container input[type=text]:hover{
	color: white;
	background-color: #393e46;
}

.ord-logo>h2>a, .ord-logo>h4 {
	display: inline-block;
} 

.pquestnavbar{
	background-color: #01b59f;
}

.pquestnavbar>h3, .pquestnavbar>h2, .pquestnavbar>div {
	display: inline-block;
}
.pquestnavbar>h2{
	margin-left: 2%;
}
.pquestnavbar a{
	text-decoration: none;
	color: #393e46;
}

.pquestnavbar>div{
	float:right;
	margin-right: 2%;
	margin-top: .5%;
	background-color: white;
}
.pquestnavbar>h3{
	float: right;
	margin-right: 3%;
}
h2.pst-title{
	margin-left: 24%;
	text-transform: capitalize;
	text-align: center;
}

/*POSTQUESTION CONTAINER


/*POSTQUESTION SPECIFIC HTML*/

/*QUESTION DELETE PAGE SPECIFI CSS*/
.quest-delt-container{
	color: #393e46;
	margin-left: 22%;
	background-color: white;
	box-shadow: 1px 1px 10px black;
	border-radius: 10px;
	padding: 15px;
}
.question>p{
	display: inline-block;
	padding: 10px;
}
.question>p>a{
	border: 1px solid #393e46;
	text-decoration: none;
	padding: 5px 10px 5px 10px;
	color: #393e46;
	margin-left: 5%;
	border-radius: 2px;
	box-shadow: 1px 1px 1px #393e46;
}
.question{
	margin-left: 5%;
}
p.title{
	border-bottom: 1px solid #393e46;
}

.question>p>a:hover{
	background-color: #393e46;
	color: white;
}
.quest-delt-container .question:hover{
	border-right: 2px solid #393e46;
	cursor: pointer;
}
.quest-delt-container {
	width: 50%;
	margin-top:2%;
	margin-bottom: 2%;
}
.small-panel h4 {
	padding: 15px 30px 15px 30px;
	border:2px solid #393e46;
	border-radius: 2px;
}
.small-panel{
	float:right;
	margin-right: 8%;
	margin-top:3%;
}
.pquestnavbar>div{
	height: 50px;
	width: 50px;
	border-radius: 50%;
	border: 1px solid white;
}

.Final-question-container{
	color: #393e46;
	margin-left: 22%;
	background-color: white;
	box-shadow: 1px 1px 10px black;
	border-radius: 10px;
	padding: 15px;
	width: 50%;
	margin-top:2%;
	margin-bottom: 2%;
}

.Final-question-container input,
 .Final-question-container textarea{
	display: block;
	margin:1% 0 1% 0;
	padding:10px;
	width: 90%;
	border:2px solid #393e46;
}
.Final-question-container input[type=submit]:hover,
.Final-question-container textarea:hover{
	color: white;
	background-color: #393e46;
}
/*QUESTION DELETE PAGE SPECIFI CSS*/